<% include ./src/includes/head %>

<body style="overflow: hidden">
                                    
    <div class="o-container">

        <% include ./src/includes/top %>

        <div class="c-blogpost anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                
                    <div class="o-cols">
                        <div class="o-cols__item">                            
                            
                            <div class="c-post">
                                <div class="o-header">
                                    <h1 class="o-lead--second">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</h1>
                                </div>
                                
                                <div class="c-post__image">
                                    <img src=<%= require("./img/photos/blog/blogpost.jpg") %> alt="">
                                </div>
                                
                                <div class="o-text">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis vitae massa vulputate, non finibus est viverra. Donec et dictum augue, et interdum sapien. Ut quis lobortis quam, ac finibus nisl. Praesent sagittis ac urna at vehicula. Sed pellentesque feugiat odio, viverra tincidunt tellus dapibus sit amet. Nunc vel eros vitae neque porta sodales non non mi. Nulla facilisi. Aliquam lacinia erat vel quam commodo, sed consequat dui laoreet. Maecenas feugiat eu metus sit amet condimentum. Fusce ut euismod risus.
</p>

<p>
Curabitur tempor mollis ipsum non porttitor. Nullam consectetur, sapien sit amet posuere blandit, felis urna sodales dui, et scelerisque libero tellus lacinia ipsum. Maecenas finibus eros in massa ullamcorper, id pulvinar tellus scelerisque. Ut convallis, ante in gravida dignissim, turpis eros tempor mauris, in vehicula magna nunc scelerisque tortor. Vivamus sagittis pellentesque ex, vitae volutpat mauris pulvinar ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sit amet tristique nibh. Etiam libero leo, dignissim at consectetur id, finibus vitae magna. Praesent nec mi ante. Sed metus enim, pharetra eget ex id, volutpat pulvinar nunc.
</p>
                                </div>
                                
                                <div class="c-post__footer">
                                    <span class="meta date">1 sierpnia 2019</span>
                                    <span class="meta copyrights">Crystal Aesthetic</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="c-search">
                                <input type="text" class="form-field">
                                <button type="submit" class="icon-search"></button>
                            </div>
                            
                            <div class="c-thumbs">
                                <a href="blog-single.html" class="c-thumbs__item">
                                    <figure>
                                        <img src=<%= require("./img/photos/blog/blogpost-thumb.jpg") %> alt="">
                                                                        
                                        <figcaption>
                                            <h5 class="o-lead--fourth">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</h5>
                                            
                                            <span class="o-lead--fifth">1 sierpnia 2019</span>
                                        </figcaption>
                                    </figure>
                                </a>
                                
                                <a href="blog-single.html" class="c-thumbs__item">
                                    <figure>
                                        <img src=<%= require("./img/photos/blog/blogpost-thumb.jpg") %> alt="">
                                                                        
                                        <figcaption>
                                            <h5 class="o-lead--fourth">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</h5>
                                            
                                            <span class="o-lead--fifth">1 sierpnia 2019</span>
                                        </figcaption>
                                    </figure>
                                </a>
                                
                                <a href="blog-single.html" class="c-thumbs__item">
                                    <figure>
                                        <img src=<%= require("./img/photos/blog/blogpost-thumb.jpg") %> alt="">
                                                                        
                                        <figcaption>
                                            <h5 class="o-lead--fourth">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</h5>
                                            
                                            <span class="o-lead--fifth">1 sierpnia 2019</span>
                                        </figcaption>
                                    </figure>
                                </a>
                                
                                <a href="blog-single.html" class="c-thumbs__item">
                                    <figure>
                                        <img src=<%= require("./img/photos/blog/blogpost-thumb.jpg") %> alt="">
                                                                        
                                        <figcaption>
                                            <h5 class="o-lead--fourth">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</h5>
                                            
                                            <span class="o-lead--fifth">1 sierpnia 2019</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/copyrights %>
        
    </div>

</body>
</html>