<% include ./src/includes/head %>

<body style="overflow: hidden">
                                    
    <div class="o-container">

        <% include ./src/includes/top %>


        <div class="c-training anim anim--up">
            <div class="o-wrap">
                <div class="o-section">
                
                    <div class="o-header o-header--main">
                        <h1 class="o-lead--first">Szkolenia dla lekarzy</h1>
                        <p>
                            Innowacyjne podejście do szkoleń specjalizujących się
                            w&nbsp;teoretycznych oraz praktycznych warsztatach z zakresu medycyny estetycznej.</p>
                    </div>


                    <div class="c-video anim anim--up">
                        <a href="https://www.youtube.com/watch?v=Ga6RYejo6Hk" class="c-video__item js-video">
                            <img src=<%= require("./img/photos/video.jpg") %> alt="" width="1170" height="570">
                            <i class="play"></i>
                        </a>
                    </div>
                </div>
                
                
                
                <header class="text-center">
                    <h2 class="o-crystalead">Opis szkolenia</h2>
                </header>
                
                <div class="o-section">
                    <article class="o-text">

<section>
    <img src=<%= require("./img/photos/szkolenia/01.jpg") %> alt="" class="align-right">
    
    <p>                        
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tellus pharetra, viverra lacus nec, sagittis est. Proin finibus purus et tortor porttitor posuere. Ut at nulla commodo, elementum mi ac, tempor tellus. Integer et dui ipsum. 
    </p>
    
    <p>
    Sed porta metus felis, quis elementum lorem terra a. Proin efficitur, risus at tristique mattis, nibh nibh consequat diam, at aliquet metus diam a ante. Nunc dignissim mi non metus sodales, quis tincidunt ex imperdiet. 
    </p>
    
    <p>
    Etiam scelerisque bibendum mi. Nulla porttitor ultricies gravida. Mauris vel tempor dolor, commodo egestas dui. Praesent placerat lacinia quam. Morbi vitae faucibus ligula, eget efficitur dolor. Morbi in nunc vitae dolor auctor elementum. Aenean mollis ex nec nisl eleifend, eget interdum libero facilisis.
    </p>                     
</section>

<section>
    <img src=<%= require("./img/photos/szkolenia/01.jpg") %> alt="" class="align-left">
    
    <h4>Teoria</h4>
    
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tellus pharetra, viverra lacus nec, sagittis est. Proin finibus purus et tortor porttitor posuere. Ut at nulla commodo, elementum mi ac, tempor tellus. Integer et dui ipsum. 
    </p>
    
    <p>
    Sed porta metus felis, quis elementum lorem terra a. Proin efficitur, risus at tristique mattis, nibh nibh consequat diam, at aliquet metus diam a ante. Nunc dignissim mi non metus sodales, quis tincidunt ex imperdiet. 
    </p>
</section>

<section>
    <img src=<%= require("./img/photos/szkolenia/03.jpg") %> alt="" class="align-right">
    
    <h4>Praktyka</h4>
    
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tellus pharetra, viverra lacus nec, sagittis est. Proin finibus purus et tortor porttitor posuere. Ut at nulla commodo, elementum mi ac, tempor tellus. Integer et dui ipsum. 
</p>

<p>
Sed porta metus felis, quis elementum lorem terra a. Proin efficitur, risus at tristique mattis, nibh nibh consequat diam, at aliquet metus diam a ante.
</p>

<p>
Nunc dignissim mi non metus sodales, quis tincidunt ex imperdiet. 
</p>
    
</section>

                    </article>
                </div>
            </div>
        </div>


        <% include ./src/includes/team %>
        <% include ./src/includes/numbers %>
        
        
        <div class="c-gallery anim anim--up">
            <div class="o-section">
                              
                <div class="o-wrap">
                
                    <ul class="c-gallery__items">
                        <li>
                            <a href=<%= require("./img/photos/gallery/01.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/01.jpg") %> alt="">
                            </a>
                        </li>
                    
                        <li>
                            <a href=<%= require("./img/photos/gallery/02.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/02.jpg") %> alt="">
                            </a>
                        </li>

                        <li>
                            <a href=<%= require("./img/photos/gallery/03.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/03.jpg") %> alt="">
                            </a>
                        </li>
                        
                        <li>
                            <a href=<%= require("./img/photos/gallery/04.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/04.jpg") %> alt="">
                            </a>
                        </li>
                        
                        <li>
                            <a href=<%= require("./img/photos/gallery/05.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/05.jpg") %> alt="">
                            </a>
                        </li>
                    
                        <li>
                            <a href=<%= require("./img/photos/gallery/06.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/06.jpg") %> alt="">
                            </a>
                        </li>

                        <li>
                            <a href=<%= require("./img/photos/gallery/07.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/07.jpg") %> alt="">
                            </a>
                        </li>
                        
                        <li>
                            <a href=<%= require("./img/photos/gallery/08.jpg") %> class="js-image">
                                <img src=<%= require("./img/photos/gallery/08.jpg") %> alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/references %>        
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/copyrights %>
        
    </div>

</body>
</html>